body,
html {
  height: 100%;
  margin: 0px;
  padding-top: 20px;
}

#root,
#second-root {
  height: 100%;
}

.content {
  padding-left: 70px;
}

.item-icon {
  margin-right: -30px;
  color: red;
}

.title-input-text {
  width: 70%;
  margin-right: 20px;
}

.main-editor {
  padding-right: 80px;
}
