body,
html {
  height: 100%;
  margin: 0px;
  padding-top: 20px;
}

#root,
#second-root {
  height: 100%;
}

#sidebar {
  margin-top: 10px;
}

.content {
  padding-left: 70px;
  height: 100%;
}

.item-icon {
  margin-right: -30px;
  color: red;
}

.title-input-text {
  width: 65%;
  margin-right: 20px;
}

.main-editor {
  padding-right: 80px;
}

img:hover {
  box-shadow: 0 0 0 3px #d2e3f7;
  border-radius: 2px;
}

.left-image {
  background-image: url(signInBackground.png);
}
